{
    "printWidth": 80,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "useTabs": false,
    "tabWidth": 4,
    "semi": true,
    "arrowParens": "always",
    "overrides": [
        {
            "files": "*.jsx",
            "options": {
                "jsxBracketSameLine": false,
                "jsxSingleQuote": false
            }
        },
        {
            "files": ["*.css", "*.scss"],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
